{% extends "layout.html" %}

{% block title %} Coordinator {{ coordinator.name }} {% endblock title%}

{% block content %}

    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#coors").addClass("active");
		});
	</script>

    <style>

        .book-type-card {
            height:140px;
        }

        @media only screen and (max-width: 700px) {

            .book-type-card {
                margin:10px;
                margin-top:-50px;
            }
            .utilities-buttons {
                display:none;
            }

            #live-search-box {
                margin: auto;
                width: 50%;
                padding: 10px;
                margin-top:35px;
            }
        }

    </style>




    <div class="container" style="padding-top:100px;">


        <div class="row">
            <div class="col-md-4">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static text-white rounded bg-dark">

              <h3> {{ coordinator.name }}</h3>
                <label><strong>Tota hubs:l</strong> {{ coordinator.hubs | length }}</label>
                <label style="margin-top:-10px;"><strong>Email:</strong> {{ coordinator.email }}</label>
                <label style="margin-top:-10px;"><strong>Phone:</strong> {{ coordinator.phone }}</label>
              <button type="button" style="margin-top:10px;" class="btn btn-info" data-toggle="modal" data-target="#newHubModal" >Edit Coordinator</button>
            </div>
          </div>
        </div>
            <div id="book-list" class="book-list col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2" style="margin-bottom:10px;">
                    <input placeholder="Search for Hub" type="text" class="form-control" style="width:200px;" id="live-search-box">
                </div>

                    <div id="hubs-list">
                    {% for hub in coordinator.hubs %}
                         <div style="margin-top:10px;" class="card rounded bg-dark">
                              <div class="card-body " style="color:white;">

                                <div class="container ">
                                    <div class="row">
                                        <img class="inline img-grade" height="30" src="{{url_for('static',filename='images/house.png')}}">
                                        <div style="margin-left:10px;" class="col-8">
                                            <h5><a href="{{ url_for('admin_bp.hub_page', hub_id=hub.id) }}" style="text-decoration:none;color:white;">{{ hub.institution }}</a></h5>
                                        </div>

                                        <div style="margin-left:50px;" class="col-8">
                                            <strong>District:</strong>
                                            <a style="color:white;text-decoration:none;" href="{{ url_for('admin_bp.region_page', region_id=hub.region.id) }}">{{ hub.region.name }}</a>
                                        </div>
                                        <a style="margin-left:60px" href="{{ url_for('admin_bp.coordinator_remove_hub', coordinator_id=coordinator.id, hub_id = hub.id) }}" class="btn btn-danger float-right">Remove</a>
                                        <div class="col-8" style="margin-left:50px;margin-top:-15px;margin-bottom:-5px;">
                                            <strong>IDPs:</strong>
                                            <label>{{ hub.idp }}</label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                    {% endfor %}
                     <div class="collapse" style="max-width:500px;" id="collapseExample">
                          <div class="card card-body bg-dark" style="margin-top:20px;">
                                <div class="form-group">
                                <form method="post" action="{{ url_for('admin_bp.coordinator_add_hub', coordinator_id = coordinator.id) }}">

                                    <select name="hub_id" class="form-control bg-dark" style="color:white;" id="exampleFormControlSelect1">
                                      {% for free_hub in free_hubs %}
                                        <option value="{{ free_hub.id }}">{{ free_hub.institution }} ({{ free_hub.region.name }})</option>
                                      {% endfor %}
                                    </select>
                                    <button type="submit" style="margin-top:10px;" class="btn btn-info">Connect</button>
                                </form>
                              </div>
                          </div>
                        </div>
                     <button style="margin-top:10px;" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Add Hub
                      </button>
                    </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="newHubModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="editModalLabel"><strong>Edit Coordinator</strong></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="hub-change" class="needs-validation" method="post" action="{{ url_for('admin_bp.coordinator_edit', coordinator_id = coordinator.id) }}" novalidate>
              <div class="form-row">
                <div class="col">
                    <label><strong>Name</strong></label>
                    <input type="text" value="{{ coordinator.name }}" name="name" class="form-control" required>
                      <div class="invalid-feedback">
                          Required field
                      </div>
                </div>
                  <div class="col">
                    <label><strong>Phone</strong></label>
                    <input type="text" value="{{coordinator.phone}}" name="phone" class="form-control" required>
                      <div class="invalid-feedback">
                          Required field
                      </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                    <label><strong>Email</strong></label>
                    <input type="email" value="{{coordinator.email}}" name="email" class="form-control" required>
                      <div class="invalid-feedback">
                          Required field
                      </div>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" form="hub-change" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>



    <script>


        $(document).ready(function(){
          $("#live-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#hubs-list div").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

        $(document).ready(function(){
	     $('#add-book').on('click', function () {
	      var text=$('#add-book').text();
	      if(text === "- Pridať študenta"){
	        $(this).html('+ Pridať študenta');
	      } else{
	        $(this).text('- Pridať študenta');
	     }
	    });
	    });

	    // script to check input
	    (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>

{% endblock content %}