{% extends "layout.html" %}

{% block title %} Regions Management {% endblock title%}

{% block content %}

    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#student").addClass("active");
		});
	</script>

    <style>

        .book-type-card {
            height:140px;
        }

        @media only screen and (max-width: 700px) {

            .book-type-card {
                margin:10px;
                margin-top:-50px;
            }
            .utilities-buttons {
                display:none;
            }

            #live-search-box {
                margin: auto;
                width: 50%;
                padding: 10px;
                margin-top:35px;
            }
        }

    </style>




    <div class="container" style="padding-top:100px;">


        <div class="row">
            <div class="col-md-4">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static text-white rounded bg-dark">

              <h2>Regions </h2>
              <label>Total: {{ regions | length }}</label>
              <button type="button" style="margin-top:10px;" class="btn btn-info" data-toggle="modal" data-target="#newHubModal" >New Hub</button>
            </div>
          </div>
        </div>
            <div id="book-list" class="book-list col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2" style="margin-bottom:10px;">
                    <input placeholder="Search for order" type="text" class="form-control" style="width:200px;" id="live-search-box">
                </div>

                    <div id="hubs-list">
                    {% for region in regions %}
                         <div style="margin-top:10px;" class="card rounded bg-dark">
                              <div class="card-body " style="color:white;">

                                <div class="container ">
                                    <div class="row">
                                        <img class="inline img-grade" height="30" src="{{url_for('static',filename='images/region.png')}}">
                                        <div style="margin-left:10px;" class="col-8">
                                            <h5><a href="{{ url_for('admin_bp.region_page', region_id=region.id) }}" style="text-decoration:none;color:white;">{{ region.name }}</a></h5>
                                        </div>

                                        <div class="col-8" style="margin-left:50px;margin-top:-5px;margin-bottom:-5px;">
                                            <strong>Hubs:</strong>
                                            <label>{{ region.hubs | length }}</label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                    {% endfor %}
                    </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="newHubModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="editModalLabel"><strong>New Hub</strong></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="hub-change" class="needs-validation" method="post" action="{{ url_for('admin_bp.hub_change_new') }}" novalidate>
              <div class="form-group">
                <label><strong>Name of the district</strong></label>
                <input type="text" name="name" class="form-control" required>
                  <div class="invalid-feedback">
                      Required field
                  </div>
              </div>
              <div class="form-group">
                <label><strong>Institutions in the city, the village</strong></label>
                <input type="text" name="institution" class="form-control" required>
                <div class="invalid-feedback">
                      Required field
                  </div>
              </div>
              <div class="form-group">
                <label><strong>Address of the institution</strong></label>
                <input type="text" name="address" class="form-control" required>
                  <div class="invalid-feedback">
                      Required field
                  </div>
              </div>
              <div class="form-group">
                <label><strong>Contacts of responsible persons</strong></label>
                <input type="text" name="phone" class="form-control" required>
                  <div class="invalid-feedback">
                      Required field
                  </div>
              </div>
              <div class="form-group">
                  <label><strong>Name of the contact person</strong></label>
                <input type="text" name="contact_name" class="form-control" required>
                  <div class="invalid-feedback">
                      Required field
                  </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" form="hub-change" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>



    <script>


        $(document).ready(function(){
          $("#live-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#hubs-list div").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

        $(document).ready(function(){
	     $('#add-book').on('click', function () {
	      var text=$('#add-book').text();
	      if(text === "- Pridať študenta"){
	        $(this).html('+ Pridať študenta');
	      } else{
	        $(this).text('- Pridať študenta');
	     }
	    });
	    });

	    // script to check input
	    (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>

{% endblock content %}