{% extends "layout.html" %}

{% block title %} Hub {{ hub.name }} {% endblock title%}

{% block content %}

    <div class="container">



      <div style="margin-top:50px;" class="row mb-2">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static text-white rounded bg-dark">
              <strong class="d-inline-block mb-2">Hub</strong>
              <h1 style="padding-bottom:5px;" class="mb-0">{{ hub.name }}</h1>
              <div class="card-text mb-auto"><strong>District:</strong> {{ hub }}</div>
              <div class="card-text mb-auto"><strong>City:</strong> {{ hub }}</div>
              <div class="card-text mb-auto"><strong>Contact Person:</strong> {{ hub }}</div>
            </div>
            <button onclick="location.href ={{ url_for('coordinator_bp.main_page') }}" type="button" class="btn btn-info">Switch hub</button>

          </div>
        </div>
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
             <div class="col p-4 d-flex flex-column position-static text-white rounded bg-dark">
              <strong class="d-inline-block mb-2"></strong>
              <h1 style="padding-bottom:5px;" id="demo" class="mb-0"></h1>
               <div style="margin-top:-10px;" class="mb-1 text-muted">Time to update IDP</div>
              <div style="margin-top:-5px;padding-bottom:20px;" class="card-text mb-auto"><strong>Current IDP:</strong> {{ hub.idp }}</div>
               <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Update IDP</button>

            </div>

          </div>
        </div>
      </div>

      <hr/>

      <div class="row mb-2 -none">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Current orders</strong>
                {% for order in hub.orders %}

                {% if order.status == 1 %}
                    <div class="card bg-dark" style="color:white; margin-bottom:10px;padding-bottom:-10px;">
                      <div class="card-body">
                        <img style="margin-right:10px;" height="25" src="{{url_for('static', filename='images/order.png')}}"/>
                        <label style="margin-left:10px;margin-top:5px;">{{ order.time.date() }}</label>
                        <a href="{{ url_for('coordinator_bp.new_order', order_id=order.id) }}" style="margin-left:10px;" class="float-right btn btn-primary">To Fill</a>
                      </div>
                    </div>
                  {% endif %}
               {% if order.status == 2 %}
                    <div class="card bg-dark" style="color:white; margin-bottom:10px;padding-bottom:-10px;">
                      <div class="card-body">
                        <img style="margin-right:10px;" height="25" src="{{url_for('static', filename='images/order.png')}}"/>
                        <label style="margin-left:10px;margin-top:5px;">{{ order.time.date() }}</label>
                        <a href="{{ url_for('coordinator_bp.view_order', order_id=order.id) }}" style="margin-left:10px;" class="float-right btn btn-light">Verification</a>
                      </div>
                    </div>
                {% endif %}
                {% if order.status == 3 %}
                    <div class="card bg-dark" style="color:white; margin-bottom:10px;padding-bottom:-10px;">
                      <div class="card-body">
                        <img style="margin-right:10px;" height="25" src="{{url_for('static', filename='images/order.png')}}"/>
                        <label style="margin-left:10px;margin-top:5px;">{{ order.time.date() }}</label>
                        <a href="{{ url_for('coordinator_bp.view_order', order_id=order.id) }}" style="margin-left:10px;" class="float-right btn btn-light">Pending</a>
                      </div>
                    </div>
                {% endif %}
                {% if order.status == 4 %}
                    <div class="card bg-dark" style="color:white; margin-bottom:10px;padding-bottom:-10px;">
                      <div class="card-body">
                        <img style="margin-right:10px;" height="25" src="{{url_for('static', filename='images/order.png')}}"/>
                        <label style="margin-left:10px;margin-top:5px;">{{ order.time.date() }}</label>
                        <a href="{{ url_for('coordinator_bp.view_order', order_id=order.id) }}" style="margin-left:10px;" class="float-right btn btn-secondary">Sent</a>
                      </div>
                    </div>
                {% endif %}

                {% endfor %}


            </div>

          </div>
        </div>
        <div class="col-md-6 d-none">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Last orders</strong>
                <div class="card bg-dark" style="color:white; margin-bottom:10px;padding-bottom:-10px;">
                    <div class="card-body">
                      <img style="margin-right:10px;" height="25" src="{{url_for('static', filename='images/order.png')}}"/>
                      <label style="margin-left:10px;margin-top:5px;">2022-16-9</label>
                      <a href="#" style="margin-left:10px;" class="float-right btn btn-success">Picked up</a>
                    </div>
                    <div class="card-body">
                      <img style="margin-right:10px;" height="25" src="{{url_for('static', filename='images/order.png')}}"/>
                      <label style="margin-left:10px;margin-top:5px;">2022-3-9</label>
                      <a href="#" style="margin-left:10px;" class="float-right btn btn-success">Picked up</a>
                    </div>
                  </div>
              <a href="#" class="stretched-link">View All</a>
            </div>

          </div>
        </div>
      </div>

    </div>



    <!-- Small modal -->

    <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New IDP:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="idp-form" method="post" action="{{url_for('coordinator_bp.update_idp', hub_id=hub.id)}}">
              <div class="form-group">

                <input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" name="idp-number" type="number" width="20px" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDP" required>

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button form="idp-form" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ hub.last_idp_update }}").getTime();
    var countDownDate2 = new Date("Nov 25, 2022 23:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = (countDownDate + 1209600000) - now;


      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is over, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>

{% endblock content %}