{% extends "layout.html" %}

{% block title %} Edit Order {% endblock title%}

{% block content %}

    <style>



    body {
      background: ;
    }

    .rounded-lg {
      border-radius: 1rem;
    }

    .nav-pills .nav-link {
      color: #555;
    }

    .nav-pills .nav-link.active {
      color: #fff;
    }


    </style>
        <div style="margin-top:40px;" class="d-flex justify-content-center">
        <div class="bg-dark rounded-lg shadow-sm p-5" style="color:white">
                <!-- Credit card form tabs -->
                <h2 class="d-flex justify-content-center">Order for {{order.hub.name}}</h2>
                <h6 class="d-flex justify-content-center"> {{ order.time.date() }}</h6>

                <!-- End -->


                <!-- Credit card form content -->
                <div class="tab-content">

                  <!-- credit card info-->
                  <div  class="tab-pane fade show active" style="min-width:400px;">
                    <form method="post" style="margin-top:60px;" id="form" role="form">
                       <input type="hidden" id="items_total_input" name="items_total" />
                       <input type="hidden" id="maxes_total_input" name="maxes_total" />
                      {% for key, value in order.content.items() %}

                        <div class="card bg-dark" style="color:white; margin-bottom:10px;padding-bottom:-10px;">
                          <div class="card-body">
                            <img style="margin-right:10px;margin-bototm" height="25" src="{{url_for('static', filename='images/check.png')}}"/>
                            <label style="margin-left:10px;margin-top:5px;"><strong>{{ key }} :</strong></label>
                            <label style="margin-left:10px;margin-top:5px;">{{ value }} kg</label>

                          </div>
                        </div>
                      {% endfor %}


                      </div>
                      <button style="margin-top:60px;" type="button" class="subscribe btn btn-light btn-block rounded-pill shadow-sm"> Pending </button>
                    </form>
                  </div>
        </div>

        <script>
            var items_maxes = []
            function Geeks() {
                var input2 = document.getElementsByName('max');

                for (var i = 0; i < input2.length; i++) {
                    var a = input2[i];
                    items_maxes.push(a.value);
                }
                document.getElementById('maxes_total_input').value = items_maxes;

                document.getElementById("form").submit();

            }
        </script>
{% endblock content %}


